@charset "utf-8";
/*(1)清理浮动的方法*/
.clearfix:before,.content:after{
	content:"";display: table;
}
.clearfix:after{clear: both;}
/*IE 6/7*/
.clearfix{zoom: 1;}


/*(2)跨浏览器设置透明度*/
.transparent{
	filter: alpha(opacity=50);/*IE*/
	-khtml-opacity:0.5;/*老版本Safari*/
	-moz-opacity: 0.5;/*Mozilla Netscape*/
	opacity: 0.5;/*fx Safari Opera*/
}


/*(4)一般媒体查询*/
	/*---------智能设备(横屏和竖屏)--------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/*样式设计*/
}
	/*--------智能设备(竖屏)--------*/
@media only screen and (min-width: 321px) {
	/*样式设计*/
}
	/*----------智能设备(横屏)---------*/
@media only screen and (max-width: 320px) {
	/*样式设计*/
}

	/*-------------iPad(横屏和竖屏)------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/*样式设计*/
}
	/*-------------iPad(竖屏)------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	/*样式设计*/
}
	/*-------------iPad(横屏)------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
	/*样式设计*/
}

	/*--------台式机和笔记本----------*/
@media only screen and (min-width: 1224px){
	/*样式设计*/
}
	/*---------超大屏-------*/
@media only screen and (min-width: 1824px){
	/*样式设计*/
}
	/*-----------苹果IPhone4----------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio:1.5){
	/*样式设计*/
}


/*(8)全屏背景*/
html{
	background: url('') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-moz-background-size:cover;
	background-size: cover;
}
html{
	background: url('../img/bg.gif') repeat center center fixed;
}

/*(9)垂直居中内容*/
.container{
	min-height: 6.5em;
	display: table-cell;
	vertical-align: middle;
}


/*(10)强制垂直滚动条*/
html{
	height:101%;
}


/*(11)设置自定义字体*/
@font-face {
	font-family:"HappyZcool";
	src: url('webfont.eot'); /*IE9 Compat Modes*/
	src: url('webfont.eot?#iefix')format('embedded-opentype'),/*IE6-8*/
		 url('webfont.woff')format('woff'),/*Mordern Browsers*/
		 url('../font/HappyZcool.ttf')format('truetype'),/*Safary Android iOS*/
		 url('webfont.svg#svgFontName')format('svg');/*Legacy iOS*/
}
body{
	font-family: 'HappyZcool',arial,sans-serif;
}


/*(17)CSS省略号*/
div{
	width:200px;
	white-space: nowrap;/*设置不折行*/
	text-overflow: ellipsis;/*省略号*/
	-o-text-overflow:ellopsis;
	overflow: hidden;
}


/*(19)给滚动条加上颜色*/
html,body{
	scrollbar-face-color: #666666;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #3366cc;
	scrollbar-darkshadow-color: #666666;
	scrollbar-track-color: #eeeeee;
	scrollbar-arrow-color: #666666;
}

/*(20)文本动画*/
ul{
	animation: 6s linear 0 normal none infinite change;
	-webkit-animation: 6s linear 0 normal infinite change;
	-moz-animation: 6s linear 0 normal infinite change;
	-o-animation: 6s linear 0 normal infinite change;
}
@-webkit-keyframes change{
	0% {margin-top: 0;}
	15% {margin-top: 0;}
	25% {margin-top: -40px;}
	40% {margin-top: -40px;}
	50% {margin-top: -80px;}
	65% {margin-top: -80px;}
	75% {margin-top: -40px;}
	85% {margin-top: -40px;}
	100% {margin-top: 0;}
}
@keyframes change{
	0% {margin-top: 0;}
	15% {margin-top: 0;}
	25% {margin-top: -40px;}
	40% {margin-top: -40px;}
	50% {margin-top: -80px;}
	65% {margin-top: -80px;}
	75% {margin-top: -40px;}
	85% {margin-top: -40px;}
	100% {margin-top: 0;}
}
